
*{
    padding: 5px;
}
.menu{
    background-color: darksalmon;
    list-style-type: none;
}


.menu li{
    display: inline-block;
    width: 120px;
    background-color: lightgray;
    padding: 10px;
    margin: 60px 0px 20px 10px;
    padding: 3px 0 0 10px;
    border-bottom: 5px solid black;
   /* border-left: 10px solid blue;*/
    
}
.menu li a{
    text-decoration: none;
}

.menu li:hover{
    background-color: lightpink;
}


/*ul li:nth-child(3){
    /*diaplay : none*/
    /*display:inline*/
    /*visibility:hidden*/
    /*display ; inline - block*/

   /* background-color: dimgray;
    padding: 10px;
    margin: 30px;*/

/*}*/